In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('../data/clean/clean_gdp_df.csv')
df1.head()

  country_name  time         gdp
0  Afghanistan  2000  3521418060
1  Afghanistan  2001  2813571754
2  Afghanistan  2002  3825701439
3  Afghanistan  2003  4520946819
4  Afghanistan  2004  5224896719

In [2]:
df1.rename(columns={'country_name': 'area'}, inplace=True)
df1['area'].unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Rep.',
       'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR',
       'Late-demographic dividend', 'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'OECD members', 'Oman',
       'Other small states', 'Pacific island small states', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [8]:
replace_dict_area = {
    'Africa Western and Central': 'Western and Central Africa',
    'Bahamas, The': 'The Bahamas',
    'Bolivia (Plurin. State of)': 'Bolivia',
    'Bolivia, Plurinational State of': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'China, Hong Kong SAR': 'Hong Kong',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao SAR': 'Macao',
    'China, Macao Special Administrative Region': 'Macao',
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Congo, Rep.': 'Democratic Republic of the Congo',
    'Congo, The Democratic Republic of the': 'Democratic Republic of the Congo',
    "Cote d'Ivoire": 'Ivory Coast',
    "Côte d'Ivoire": 'Ivory Coast',
    'Côte d\x92Ivoire': 'Ivory Coast',
    'Côte d’Ivoire': 'Ivory Coast',
    "Dem. People's Rep. Korea": 'North Korea',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Egypt, Arab Rep.': 'Egypt',
    'Euro area': '',
    'Europe & Central Asia': 'Europe and Central Asia',
    'Falkland Islands (Malvinas)': 'Falkland Islands',
    'Gambia, The': 'Gambia',
    'Hong Kong SAR, China': 'Hong Kong',
    'Iran (Islamic Republic of)': 'Iran',
    'Iran, Islamic Rep.': 'Iran',
    "Korea, Democratic People's Republic of": 'North Korea',
    'Korea, Rep.': 'South Korea',
    'Korea, Republic of': 'South Korea',
    'Kyrgyz Republic': 'Kyrgyztan',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    'Lao PDR': 'Laos',
    "Lao People's Dem. Rep.": 'Laos',
    "Lao People's Democratic Republic": 'Laos',
    'Latin America & Caribbean': 'Latin America and the Caribbean',
    'Low & middle income': 'Low and middle income',
    'Macao SAR, China': 'Macao',
    'Micronesia, Fed. Sts.': 'Micronesia',
    'Middle East & North Africa': 'Middle East and North Africa',
    'Moldova, Republic of': 'Moldova',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'Netherlands Antilles [former]': 'Netherlands Antilles',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'SIDS': 'Small Island Developing States',
    'Saint Vincent & Grenadines': 'Saint Vincent and the Grenadines',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'St. Lucia': 'Saint Lucia',
    'St. Martin (French part)': '',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Timor-Leste': 'East Timor',
    'Total, all countries or areas': 'World',
    'Türkiye': 'Turkey',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Venezuela, Bolivarian Republic of': 'Venezuela',
    'Venezuela, RB': 'Venezuela',
    'Virgin Islands (U.S.)': 'US Virgin Islands',
    'Yemen, Rep.': 'Yemen'
}

df1['area'] = df1['area'].replace(replace_dict_area)

In [9]:
unique_values = df1['area'].unique()
for unique in unique_values:
    print(f'{unique}')

Afghanistan
Africa Eastern and Southern
Western and Central Africa
Albania
Algeria
American Samoa
Andorra
Angola
Antigua and Barbuda
Arab World
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
The Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Caribbean small states
Cayman Islands
Central African Republic
Central Europe and the Baltics
Chad
Channel Islands
Chile
China
Colombia
Comoros
Democratic Republic of the Congo
Costa Rica
Ivory Coast
Croatia
Cuba
Curacao
Cyprus
Czechia
Denmark
Djibouti
Dominica
Dominican Republic
Early-demographic dividend
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia

Europe and Central Asia
European Union
Faroe Islands
Fiji
Finland
Fragile and conflict affected situations
France
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Greenland
Grenada
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Heavily indebted poor countries (HIPC)
High income
Honduras
Hong Kong
Hungary
IBRD only
IDA & IBRD total
IDA blend
IDA only
IDA total
Iceland
India
Indonesia
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Laos
Late-demographic dividend
Latin America and the Caribbean
Latvia
Least developed countries: UN classification
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Low and middle income
Low income
Lower middle income
Luxembourg
Macao
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia
Middle East and North Africa
Middle income
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
North America
North Macedonia
Northern Mariana Islands
Norway
OECD members
Oman
Other small states
Pacific island small states
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Post-demographic dividend
Pre-demographic dividend
Puerto Rico
Qatar
Romania
Russia
Rwanda
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovak Republic
Slovenia
Small states
Solomon Islands
Somalia
South Africa
South Asia
South Sudan
Spain
Sri Lanka
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Sub-Saharan Africa
Sub-Saharan Africa (IDA & IBRD countries)
Sub-Saharan Africa (excluding high income)
Sudan
Suriname
Sweden
Switzerland
Syria
Tajikistan
Tanzania
Thailand
East Timor
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkiye
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Upper middle income
Uruguay
Uzbekistan
Vanuatu
Venezuela
Viet Nam
US Virgin Islands
West Bank and Gaza
World
Yemen
Zambia
Zimbabwe

In [ ]:
Fragile and conflict affected situations
Heavily indebted poor countries (HIPC)
IBRD only
IDA & IBRD total
IDA blend
IDA only
Upper middle income
IDA total
Sub-Saharan Africa (IDA & IBRD countries)
Sub-Saharan Africa (excluding high income)
Least developed countries: UN classification
Late-demographic dividend
Post-demographic dividend
Pre-demographic dividend
Low and middle income
Lower middle income

In [5]:
remove_dict_area = [
    'Middle East & North Africa (IDA & IBRD countries)',
    'Middle East & North Africa (excluding high income)',
    'South Asia (IDA & IBRD)',
    'Latin America & Caribbean (excluding high income)',
    'Latin America & the Caribbean (IDA & IBRD countries)',
    'Europe & Central Asia (IDA & IBRD countries)',
    'Europe & Central Asia (excluding high income)',
    'East Asia & Pacific',
    'East Asia & Pacific (IDA & IBRD countries)',
    'East Asia & Pacific (excluding high income)'
]

df1 = df1[~df1['area'].isin(remove_dict_area)]

In [6]:
df1

             area  time          gdp
0     Afghanistan  2000   3521418060
1     Afghanistan  2001   2813571754
2     Afghanistan  2002   3825701439
3     Afghanistan  2003   4520946819
4     Afghanistan  2004   5224896719
...           ...   ...          ...
6135     Zimbabwe  2019  21832234926
6136     Zimbabwe  2020  21509698406
6137     Zimbabwe  2021  28371238666
6138     Zimbabwe  2022  27366627153
6139     Zimbabwe  2023  26538273499

[5900 rows x 3 columns]

In [7]:
# df1.to_csv('hdi_clean.csv', index=False)