In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('../data/clean/employment_df.csv')
df1.head()
df1

,country_code,area,year,statistic_type,statistic_value
0,1,World,2005,Labour force participation,62.9
1,1,World,2005,Unemployment rate,6.3
2,1,World,2010,Labour force participation,62.0
3,1,World,2010,Unemployment rate,6.3
4,1,World,2015,Labour force participation,60.7
...,...,...,...,...,...
1833,97,European Union,2010,Unemployment rate,9.8
1834,97,European Union,2015,Labour force participation,56.8
1835,97,European Union,2015,Unemployment rate,10.0
1836,97,European Union,2023,Labour force participation,57.6
1837,97,European Union,2023,Unemployment rate,6.3

In [2]:
# df1.rename(columns={'country': 'area'}, inplace=True)
df1['area'].unique()

array(['World', 'Africa', 'Northern Africa', 'Sub-Saharan Africa',
       'Eastern Africa', 'Middle Africa', 'Southern Africa',
       'Western Africa', 'Americas', 'Northern America',
       'Latin America and the Caribbean', 'Caribbean', 'Central America',
       'South America', 'Central Asia', 'Eastern Asia',
       'South-eastern Asia', 'Southern Asia', 'Western Asia', 'Caucasus',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Afghanistan', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Hong Kong', 'Macao',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Ivory Coast', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'South Korea', 'Moldova', 'Réunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Palestine, State of', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Tanzania, United Republic of', 'United States',
       'Virgin Islands, U.S.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe', 'European Union'], dtype=object)

In [4]:
replace_dict_area = {
    'Africa Western and Central': 'Western and Central Africa',
    'Bahamas, The': 'The Bahamas',
    'Bolivia (Plurin. State of)': 'Bolivia',
    'Bolivia, Plurinational State of': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'China, Hong Kong SAR': 'Hong Kong',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao SAR': 'Macao',
    'China, Macao Special Administrative Region': 'Macao',
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Congo, Rep.': 'Democratic Republic of the Congo',
    'Congo, The Democratic Republic of the': 'Democratic Republic of the Congo',
    "Cote d'Ivoire": 'Ivory Coast',
    "Côte d'Ivoire": 'Ivory Coast',
    'Côte d\x92Ivoire': 'Ivory Coast',
    'Côte d’Ivoire': 'Ivory Coast',
    "Dem. People's Rep. Korea": 'North Korea',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Egypt, Arab Rep.': 'Egypt',
    'Euro area': '',
    'Europe & Central Asia': 'Europe and Central Asia',
    'Falkland Islands (Malvinas)': 'Falkland Islands',
    'Gambia, The': 'Gambia',
    'Hong Kong SAR, China': 'Hong Kong',
    'Iran (Islamic Republic of)': 'Iran',
    'Iran, Islamic Republic of': 'Iran',
    'Iran, Islamic Rep.': 'Iran',
    "Korea, Democratic People's Republic of": 'North Korea',
    'Korea, Rep.': 'South Korea',
    'Korea, Republic of': 'South Korea',
    'Kyrgyz Republic': 'Kyrgyztan',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    'Lao PDR': 'Laos',
    "Lao People's Dem. Rep.": 'Laos',
    "Lao People's Democratic Republic": 'Laos',
    'Latin America & Caribbean': 'Latin America and the Caribbean',
    'Low & middle income': 'Low and middle income',
    'Macao SAR, China': 'Macao',
    'Micronesia, Fed. Sts.': 'Micronesia',
    'Micronesia (Fed. States of)': 'Micronesia',
    'Middle East & North Africa': 'Middle East and North Africa',
    'Moldova, Republic of': 'Moldova',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'Netherlands Antilles [former]': 'Netherlands Antilles',
    'Palestine, State of': 'Palestine',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'SIDS': 'Small Island Developing States',
    'Saint Vincent & Grenadines': 'Saint Vincent and the Grenadines',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'St. Lucia': 'Saint Lucia',
    'St. Martin (French part)': '',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Tanzania, United Republic of': 'Tanzania',
    'The Democratic Republic of the Congo': 'Democratic Republic of the Congo',
    'Timor-Leste': 'East Timor',
    'Total, all countries or areas': 'World',
    'Türkiye': 'Turkey',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Venezuela, Bolivarian Republic of': 'Venezuela',
    'Venezuela, RB': 'Venezuela',
    'Virgin Islands, U.S.': 'US Virgin Islands',
    'Virgin Islands (U.S.)': 'US Virgin Islands',
    'Yemen, Rep.': 'Yemen'
}

df1['area'] = df1['area'].replace(replace_dict_area)

In [5]:
unique_values = df1['area'].unique()
for unique in unique_values:
    print(f'{unique}')

World
Africa
Northern Africa
Sub-Saharan Africa
Eastern Africa
Middle Africa
Southern Africa
Western Africa
Americas
Northern America
Latin America and the Caribbean
Caribbean
Central America
South America
Central Asia
Eastern Asia
South-eastern Asia
Southern Asia
Western Asia
Caucasus
Eastern Europe
Northern Europe
Southern Europe
Western Europe
Oceania
Afghanistan
Albania
Algeria
American Samoa
Angola
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
China
Hong Kong
Macao
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Ivory Coast
Croatia
Cuba
Curaçao
Cyprus
Czechia
North Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Falkland Islands
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Greenland
Guadeloupe
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mexico
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Macedonia
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
South Korea
Moldova
Réunion
Romania
Russia
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
Palestine
Sudan
Suriname
Sweden
Switzerland
Syria
Tajikistan
Thailand
East Timor
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Uganda
Ukraine
United Arab Emirates
United Kingdom
Tanzania
United States
US Virgin Islands
Uruguay
Uzbekistan
Vanuatu
Venezuela
Viet Nam
Western Sahara
Yemen
Zambia
Zimbabwe
European Union

In [6]:
remove_dict_area = [
    'Fragile and conflict affected situations',
    'Heavily indebted poor countries (HIPC)',
    'IBRD only',
    'IDA & IBRD total',
    'IDA blend',
    'IDA only',
    'Upper middle income',
    'IDA total',
    'Sub-Saharan Africa (IDA & IBRD countries)',
    'Sub-Saharan Africa (excluding high income)',
    'Landlocked Developing Countries',
    'Least Developed Countries',
    'Least developed countries: UN classification',
    'Late-demographic dividend',
    'Post-demographic dividend',
    'Pre-demographic dividend',
    'Low and middle income',
    'Lower middle income'
    'Middle East & North Africa (IDA & IBRD countries)',
    'Middle East & North Africa (excluding high income)',
    'South Asia (IDA & IBRD)',
    'Latin America & Caribbean (excluding high income)',
    'Latin America & the Caribbean (IDA & IBRD countries)',
    'Europe & Central Asia (IDA & IBRD countries)',
    'Europe & Central Asia (excluding high income)',
    'East Asia & Pacific',
    'East Asia & Pacific (IDA & IBRD countries)',
    'East Asia & Pacific (excluding high income)',
    'Small Island Developing States',
]

df1 = df1[~df1['area'].isin(remove_dict_area)]

In [7]:
df1

,country_code,area,year,statistic_type,statistic_value
0,1,World,2005,Labour force participation,62.9
1,1,World,2005,Unemployment rate,6.3
2,1,World,2010,Labour force participation,62.0
3,1,World,2010,Unemployment rate,6.3
4,1,World,2015,Labour force participation,60.7
...,...,...,...,...,...
1833,97,European Union,2010,Unemployment rate,9.8
1834,97,European Union,2015,Labour force participation,56.8
1835,97,European Union,2015,Unemployment rate,10.0
1836,97,European Union,2023,Labour force participation,57.6
1837,97,European Union,2023,Unemployment rate,6.3

In [ ]:
# df1.to_csv('hdi_clean.csv', index=False)
# df1.to_csv('clean_gdp_df.csv', index=False)
# df1.to_csv('educ_filtered.csv', index=False)
# df1.to_csv('clean_RD_df.csv', index=False)
# df1.to_csv('employment_df.csv', index=False)