In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('../data/clean/hdi_clean.csv')
df1.head()

,iso3,country,human_development_groups,undp_developing_regions,year,human_development_index_(hdi)
0,AFG,Afghanistan,Low,SA,2000,0.335
1,AGO,Angola,Medium,SSA,2000,0.375
2,ALB,Albania,High,ECA,2000,0.677
3,AND,Andorra,Very High,NaN,2000,0.818
4,ARE,United Arab Emirates,Very High,AS,2000,0.796

In [2]:
df1.rename(columns={'country': 'area'}, inplace=True)
df1['area'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei',
       'Bhutan', 'Botswana', 'Central African Republic', 'Canada',
       'Switzerland', 'Chile', 'China', 'Ivory Coast', 'Cameroon',
       'The Democratic Republic of the Congo', 'Congo', 'Colombia',
       'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Czechia',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Spain', 'Estonia',
       'Ethiopia', 'Finland', 'Fiji', 'France', 'Micronesia', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Guatemala', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Lao', 'Lebanon',
       'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco',
       'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar',
       'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius',
       'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'North Korea', 'Portugal',
       'Paraguay', 'Palestine, State of', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini', 'Seychelles', 'Syrian Arab Republic', 'Chad',
       'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Timor-Leste',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States',
       'Uzbekistan', 'Saint Vincent and the Grenadines', 'Venezuela',
       'Viet Nam', 'Vanuatu', 'Samoa', 'Yemen', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

In [3]:
replace_dict_area = {
    'Bolivia, Plurinational State of': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'Congo, The Democratic Republic of the': 'Democratic Republic of the Congo', 
    "Côte d'Ivoire": 'Ivory Coast',
    'Falkland Islands (Malvinas)': 'Falkland Islands',
    'Iran (Islamic Republic of)': 'Iran',
    "Korea, Democratic People's Republic of": 'North Korea',
    'Korea, Republic of': 'South Korea',
    "Lao People's Democratic Republic": 'Laos',
    'Moldova, Republic of': 'Moldova',
    'Netherlands Antilles [former]': 'Netherlands Antilles',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Timor-Leste': 'East Timor',
    'Türkiye': 'Turkey',
    'Venezuela, Bolivarian Republic of': 'Venezuela'
}
df1['area'] = df1['area'].replace(replace_dict_area)

In [4]:
replace_dict_df2 = {  
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macao',
    "Côte d'Ivoire": 'Ivory Coast',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Venezuela (Bolivarian Republic of)': 'Venezuela'
}
df1['area'] = df1['area'].replace(replace_dict_df2)

In [5]:
replace_dict_df1 = {
    'Bolivia (Plurin. State of)': 'Bolivia',
    'China, Hong Kong SAR': 'Hong Kong',   
    'China, Macao SAR': 'Macao',
    'Côte d’Ivoire': 'Ivory Coast',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Latin America & the Caribbean': 'Latin America and the Caribbean',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    "Lao People's Dem. Rep.": 'Laos',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'SIDS': 'Small Island Developing States',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Total, all countries or areas': 'World',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela',
    'Côte d\x92Ivoire': 'Ivory Coast',
    "Dem. People's Rep. Korea": 'North Korea',
    'Saint Vincent & Grenadines': 'Saint Vincent and the Grenadines'
}
df1['area'] = df1['area'].replace(replace_dict_df1)

In [6]:
df1['area'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei',
       'Bhutan', 'Botswana', 'Central African Republic', 'Canada',
       'Switzerland', 'Chile', 'China', 'Ivory Coast', 'Cameroon',
       'The Democratic Republic of the Congo', 'Congo', 'Colombia',
       'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Czechia',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Spain', 'Estonia',
       'Ethiopia', 'Finland', 'Fiji', 'France', 'Micronesia', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Guatemala', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Lao', 'Lebanon',
       'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco',
       'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar',
       'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius',
       'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'North Korea', 'Portugal',
       'Paraguay', 'Palestine, State of', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini',
       'Seychelles', 'Syria', 'Chad', 'Togo', 'Thailand', 'Tajikistan',
       'Turkmenistan', 'East Timor', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Uruguay', 'United States', 'Uzbekistan',
       'Saint Vincent and the Grenadines', 'Venezuela', 'Viet Nam',
       'Vanuatu', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [7]:
df1.to_csv('hdi_clean.csv', index=False)