In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/clean/final_df.csv')

df.head()
df

,Unnamed: 0,area,year,gdp,r_d,researchers,hdi,public_expenditure_education,patents_num
0,0,Azerbaijan,2021,54825411765,0.2,1741.1,0.745,3.5,119
1,1,Argentina,2005,198737000000,0.4,819.4,0.802,3.9,1798
2,2,Argentina,2010,423627000000,0.6,1123.8,0.834,5.0,1366
3,3,Argentina,2020,385741000000,0.5,1236.9,0.840,5.1,2337
4,4,Australia,2010,1148890000000,2.4,4532.4,0.923,5.5,14557
...,...,...,...,...,...,...,...,...,...
101,101,Egypt,2010,218984000000,0.4,492.4,0.675,3.5,321
102,102,United Kingdom,2005,2543180000000,1.5,4123.5,0.895,4.9,10159
103,103,United Kingdom,2010,2485480000000,1.6,4043.3,0.912,5.7,5594
104,104,United Kingdom,2019,2851410000000,1.7,4683.8,0.935,5.2,5948
105,105,Uzbekistan,2021,69600614987,0.1,523.4,0.727,4.6,298

In [2]:
df['area'].unique()

array(['Azerbaijan', 'Argentina', 'Australia', 'Austria', 'Belgium',
       'Brazil', 'Bulgaria', 'Belarus', 'Canada', 'Sri Lanka', 'Chile',
       'China', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
       'Ecuador', 'El Salvador', 'Estonia', 'Finland', 'France',
       'Georgia', 'Germany', 'Greece', 'Guatemala', 'Hungary', 'Iceland',
       'India', 'Ireland', 'Italy', 'Japan', 'Kazakhstan', 'Kenya',
       'Latvia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia',
       'Malta', 'Mauritius', 'Mexico', 'New Zealand', 'Norway',
       'Pakistan', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Serbia', 'Singapore', 'Slovenia', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'United Arab Emirates',
       'Tunisia', 'Ukraine', 'Egypt', 'United Kingdom', 'Uzbekistan'],
      dtype=object)

In [3]:
european_countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 
    'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 
    'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 
    'Lithuania', 'Luxembourg', 'Malta', 'Norway', 'Poland', 'Portugal', 
    'Romania', 'Serbia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 
    'Ukraine', 'United Kingdom'
]

In [4]:
eu_df = df[df['area'].isin(european_countries)]

# Display the DataFrame
print(eu_df)

     Unnamed: 0            area  year            gdp  r_d  researchers    hdi  \
5             5         Austria  2005   316092000000  2.4       3449.3  0.889
6             6         Austria  2010   392275000000  2.7       4349.7  0.902
7             7         Belgium  2005   385715000000  1.8       3142.7  0.902
8             8         Belgium  2010   481421000000  2.1       3732.8  0.912
11           11        Bulgaria  2005    29868657858  0.4       1307.8  0.762
12           12        Bulgaria  2010    50760929303  0.6       1478.7  0.790
21           21         Croatia  2005    45025679590  0.8       1308.1  0.802
22           22         Croatia  2010    58836405999  0.7       1641.3  0.821
23           23          Cyprus  2005    18433411267  0.4        916.7  0.834
24           24          Cyprus  2010    25799940416  0.4       1077.7  0.857
25           25         Czechia  2005   137143000000  1.2       2356.1  0.844
26           26         Czechia  2010   209070000000  1.3       2774.0  0.870
27           27         Denmark  2005   264467000000  2.4       5197.4  0.911
28           28         Denmark  2010   321995000000  2.9       6739.2  0.913
31           31         Estonia  2005    14106790200  0.9       2457.1  0.839
32           32         Estonia  2010    19523477326  1.6       3060.6  0.861
33           33         Finland  2005   204885000000  3.3       7526.6  0.905
34           34         Finland  2010   249424000000  3.7       7720.2  0.911
35           35          France  2005  2196950000000  2.1       3313.3  0.866
36           36          France  2010  2645190000000  2.2       3873.0  0.877
37           37         Georgia  2021    18853115589  0.3       1623.7  0.802
38           38         Germany  2005  2846860000000  2.4       3335.0  0.914
39           39         Germany  2010  3399670000000  2.7       4058.0  0.926
40           40          Greece  2005   247875000000  0.6       1745.5  0.855
43           43         Hungary  2005   113211000000  0.9       1574.3  0.806
44           44         Hungary  2010   132175000000  1.1       2149.8  0.828
45           45         Iceland  2005    16852963067  2.7       7305.3  0.901
48           48         Ireland  2005   211877000000  1.2       2798.0  0.888
49           49         Ireland  2010   221914000000  1.6       3112.6  0.904
50           50           Italy  2005  1858220000000  1.0       1415.4  0.868
51           51           Italy  2010  2136100000000  1.2       1743.3  0.882
57           57          Latvia  2005    17003459863  0.5       1457.4  0.808
58           58          Latvia  2010    23956163077  0.6       1838.7  0.824
59           59       Lithuania  2005    26097677572  0.7       2283.6  0.817
60           60       Lithuania  2010    37128694028  0.8       2752.7  0.842
61           61      Luxembourg  2005    37672280120  1.6       4864.1  0.884
62           62      Luxembourg  2010    56213985987  1.4       5145.0  0.912
66           66           Malta  2010     9035824366  0.6       1417.0  0.861
72           72          Norway  2005   309979000000  1.5       4576.6  0.931
73           73          Norway  2010   431052000000  1.7       5413.8  0.941
77           77          Poland  2005   306146000000  0.6       1620.1  0.815
78           78          Poland  2010   475697000000  0.7       1683.1  0.841
79           79        Portugal  2005   197254000000  0.8       2010.4  0.806
80           80        Portugal  2010   238113000000  1.5       3918.8  0.829
81           81         Romania  2005    98454380120  0.4       1071.9  0.756
82           82         Romania  2010   170029000000  0.4        966.2  0.807
83           83          Serbia  2010    41819468692  0.7       1514.8  0.767
86           86        Slovenia  2005    36206395971  1.4       2633.1  0.869
87           87        Slovenia  2010    48208240226  2.1       3769.8  0.890
91           91           Spain  2005  1153720000000  1.1       2492.6  0.850
92           92           Spain  2010  1422110000000  1.4       2869.2  0.868
93           93          Sweden  2005   392218000000  3.4       6085.1  0.902
94           94          Sweden  2010   495813000000  3.2       5251.5  0.910
95           95     Switzerland  2019   721369000000  3.2       5552.0  0.962
99           99         Ukraine  2010   141209000000  0.8       1328.0  0.764
100         100         Ukraine  2021   199766000000  0.3        587.5  0.773
102         102  United Kingdom  2005  2543180000000  1.5       4123.5  0.895
103         103  United Kingdom  2010  2485480000000  1.6       4043.3  0.912
104         104  United Kingdom  2019  2851410000000  1.7       4683.8  0.935

     public_expenditure_education  patents_num
5                             5.2          938
6                             5.7         1130
7                             5.8          708
8                             6.4          532
11                            4.1          313
12                            3.9          251
21                            5.1          140
22                            4.2           82
23                            6.3           68
24                            6.5           19
25                            3.9         1551
26                            4.0          911
27                            8.1          389
28                            8.6          155
31                            4.8          163
32                            5.5          120
33                            6.0         1757
34                            6.5          923
35                            5.5        11473
36                            5.6         9899
37                            3.6          128
38                            4.1        17063
39                            5.1        13678
40                            4.0          320
43                            5.3         1126
44                            4.7           65
45                            7.3          101
48                            4.5          226
49                            6.1           87
50                            4.2         5534
51                            4.3        16106
57                            5.3          122
58                            5.0          184
59                            4.9          116
60                            5.3           84
61                            4.9           29
62                            5.3           87
66                            6.3            4
72                            6.9          542
73                            6.7         1631
77                            5.4         2522
78                            5.1         3004
79                            5.1          231
80                            5.4          140
81                            3.5          759
82                            3.4          447
83                            3.9          427
86                            5.6          285
87                            5.5          250
91                            4.1         2769
92                            4.9         2773
93                            6.5         1911
94                            6.5         1380
95                            5.1          615
99                            7.4         3874
100                           5.6         2298
102                           4.9        10159
103                           5.7         5594
104                           5.2         5948

In [7]:
print(eu_df.dtypes)

Unnamed: 0                        int64
area                             object
year                              int64
gdp                               int64
r_d                             float64
researchers                     float64
hdi                             float64
public_expenditure_education    float64
patents_num                       int64
dtype: object