In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/clean/final_df.csv')

df.head()
df

,Unnamed: 0,area,year,gdp,r_d,researchers,hdi,public_expenditure_education,patents_num
0,0,Azerbaijan,2021,54825411765,0.2,1741.1,0.745,3.5,119
1,1,Argentina,2005,198737000000,0.4,819.4,0.802,3.9,1798
2,2,Argentina,2010,423627000000,0.6,1123.8,0.834,5.0,1366
3,3,Argentina,2020,385741000000,0.5,1236.9,0.840,5.1,2337
4,4,Australia,2010,1148890000000,2.4,4532.4,0.923,5.5,14557
...,...,...,...,...,...,...,...,...,...
101,101,Egypt,2010,218984000000,0.4,492.4,0.675,3.5,321
102,102,United Kingdom,2005,2543180000000,1.5,4123.5,0.895,4.9,10159
103,103,United Kingdom,2010,2485480000000,1.6,4043.3,0.912,5.7,5594
104,104,United Kingdom,2019,2851410000000,1.7,4683.8,0.935,5.2,5948
105,105,Uzbekistan,2021,69600614987,0.1,523.4,0.727,4.6,298

In [2]:
df['area'].unique()

array(['Azerbaijan', 'Argentina', 'Australia', 'Austria', 'Belgium',
       'Brazil', 'Bulgaria', 'Belarus', 'Canada', 'Sri Lanka', 'Chile',
       'China', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
       'Ecuador', 'El Salvador', 'Estonia', 'Finland', 'France',
       'Georgia', 'Germany', 'Greece', 'Guatemala', 'Hungary', 'Iceland',
       'India', 'Ireland', 'Italy', 'Japan', 'Kazakhstan', 'Kenya',
       'Latvia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia',
       'Malta', 'Mauritius', 'Mexico', 'New Zealand', 'Norway',
       'Pakistan', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Serbia', 'Singapore', 'Slovenia', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'United Arab Emirates',
       'Tunisia', 'Ukraine', 'Egypt', 'United Kingdom', 'Uzbekistan'],
      dtype=object)

In [3]:
european_countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 
    'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 
    'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 
    'Lithuania', 'Luxembourg', 'Malta', 'Norway', 'Poland', 'Portugal', 
    'Romania', 'Serbia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 
    'Ukraine', 'United Kingdom'
]

### Create new dataframe only with the countries in the above list
- Drop 'Unnamed: 0' column
- Reset index

In [4]:
eu_df = df[df['area'].isin(european_countries)]
eu_df = eu_df.drop('Unnamed: 0', axis=1)
eu_df = eu_df.reset_index(drop=True)

eu_df

,area,year,gdp,r_d,researchers,hdi,public_expenditure_education,patents_num
0,Austria,2005,316092000000,2.4,3449.3,0.889,5.2,938
1,Austria,2010,392275000000,2.7,4349.7,0.902,5.7,1130
2,Belgium,2005,385715000000,1.8,3142.7,0.902,5.8,708
3,Belgium,2010,481421000000,2.1,3732.8,0.912,6.4,532
4,Bulgaria,2005,29868657858,0.4,1307.8,0.762,4.1,313
5,Bulgaria,2010,50760929303,0.6,1478.7,0.790,3.9,251
6,Croatia,2005,45025679590,0.8,1308.1,0.802,5.1,140
7,Croatia,2010,58836405999,0.7,1641.3,0.821,4.2,82
8,Cyprus,2005,18433411267,0.4,916.7,0.834,6.3,68
9,Cyprus,2010,25799940416,0.4,1077.7,0.857,6.5,19
10,Czechia,2005,137143000000,1.2,2356.1,0.844,3.9,1551
11,Czechia,2010,209070000000,1.3,2774.0,0.870,4.0,911
12,Denmark,2005,264467000000,2.4,5197.4,0.911,8.1,389
13,Denmark,2010,321995000000,2.9,6739.2,0.913,8.6,155
14,Estonia,2005,14106790200,0.9,2457.1,0.839,4.8,163
15,Estonia,2010,19523477326,1.6,3060.6,0.861,5.5,120
16,Finland,2005,204885000000,3.3,7526.6,0.905,6.0,1757
17,Finland,2010,249424000000,3.7,7720.2,0.911,6.5,923
18,France,2005,2196950000000,2.1,3313.3,0.866,5.5,11473
19,France,2010,2645190000000,2.2,3873.0,0.877,5.6,9899
20,Georgia,2021,18853115589,0.3,1623.7,0.802,3.6,128
21,Germany,2005,2846860000000,2.4,3335.0,0.914,4.1,17063
22,Germany,2010,3399670000000,2.7,4058.0,0.926,5.1,13678
23,Greece,2005,247875000000,0.6,1745.5,0.855,4.0,320
24,Hungary,2005,113211000000,0.9,1574.3,0.806,5.3,1126
25,Hungary,2010,132175000000,1.1,2149.8,0.828,4.7,65
26,Iceland,2005,16852963067,2.7,7305.3,0.901,7.3,101
27,Ireland,2005,211877000000,1.2,2798.0,0.888,4.5,226
28,Ireland,2010,221914000000,1.6,3112.6,0.904,6.1,87
29,Italy,2005,1858220000000,1.0,1415.4,0.868,4.2,5534
30,Italy,2010,2136100000000,1.2,1743.3,0.882,4.3,16106
31,Latvia,2005,17003459863,0.5,1457.4,0.808,5.3,122
32,Latvia,2010,23956163077,0.6,1838.7,0.824,5.0,184
33,Lithuania,2005,26097677572,0.7,2283.6,0.817,4.9,116
34,Lithuania,2010,37128694028,0.8,2752.7,0.842,5.3,84
35,Luxembourg,2005,37672280120,1.6,4864.1,0.884,4.9,29
36,Luxembourg,2010,56213985987,1.4,5145.0,0.912,5.3,87
37,Malta,2010,9035824366,0.6,1417.0,0.861,6.3,4
38,Norway,2005,309979000000,1.5,4576.6,0.931,6.9,542
39,Norway,2010,431052000000,1.7,5413.8,0.941,6.7,1631
40,Poland,2005,306146000000,0.6,1620.1,0.815,5.4,2522
41,Poland,2010,475697000000,0.7,1683.1,0.841,5.1,3004
42,Portugal,2005,197254000000,0.8,2010.4,0.806,5.1,231
43,Portugal,2010,238113000000,1.5,3918.8,0.829,5.4,140
44,Romania,2005,98454380120,0.4,1071.9,0.756,3.5,759
45,Romania,2010,170029000000,0.4,966.2,0.807,3.4,447
46,Serbia,2010,41819468692,0.7,1514.8,0.767,3.9,427
47,Slovenia,2005,36206395971,1.4,2633.1,0.869,5.6,285
48,Slovenia,2010,48208240226,2.1,3769.8,0.890,5.5,250
49,Spain,2005,1153720000000,1.1,2492.6,0.850,4.1,2769
50,Spain,2010,1422110000000,1.4,2869.2,0.868,4.9,2773
51,Sweden,2005,392218000000,3.4,6085.1,0.902,6.5,1911
52,Sweden,2010,495813000000,3.2,5251.5,0.910,6.5,1380
53,Switzerland,2019,721369000000,3.2,5552.0,0.962,5.1,615
54,Ukraine,2010,141209000000,0.8,1328.0,0.764,7.4,3874
55,Ukraine,2021,199766000000,0.3,587.5,0.773,5.6,2298
56,United Kingdom,2005,2543180000000,1.5,4123.5,0.895,4.9,10159
57,United Kingdom,2010,2485480000000,1.6,4043.3,0.912,5.7,5594
58,United Kingdom,2019,2851410000000,1.7,4683.8,0.935,5.2,5948

In [5]:
print(eu_df.dtypes)

area                             object
year                              int64
gdp                               int64
r_d                             float64
researchers                     float64
hdi                             float64
public_expenditure_education    float64
patents_num                       int64
dtype: object

### Calculate correlation between R&D and HDI
- `.corr()` computes the linear relationship between variables
1. Group data by 'area'
2. calculate the correlation using .corr()

In [6]:
# Clean the data by removing rows where 'r_d' or 'hdi' have NaN values
# df_clean = eu_df.dropna(subset=['r_d', 'hdi'])

# Remove rows where 'r_d' or 'hdi' are constant (i.e., the standard deviation is 0)
df_clean = eu_df.groupby('area').filter(lambda x: x['r_d'].std() > 0 and x['hdi'].std() > 0)

# Calculate correlation for each country
# Explicitly select the required columns after groupby to avoid the deprecation warning
country_correlations = df_clean.groupby('area')[['r_d', 'hdi']].apply(lambda x: x['r_d'].corr(x['hdi']))

print(country_correlations)

area
Austria           1.000000
Belgium           1.000000
Bulgaria          1.000000
Croatia          -1.000000
Czechia           1.000000
Denmark           1.000000
Estonia           1.000000
Finland           1.000000
France            1.000000
Germany           1.000000
Hungary           1.000000
Ireland           1.000000
Italy             1.000000
Latvia            1.000000
Lithuania         1.000000
Luxembourg       -1.000000
Norway            1.000000
Poland            1.000000
Portugal          1.000000
Slovenia          1.000000
Spain             1.000000
Sweden           -1.000000
Ukraine          -1.000000
United Kingdom    0.996271
dtype: float64

In [7]:
import pandas as pd

# Filter the dataset based on non-zero standard deviations for 'r_d' and 'hdi'
df_clean = eu_df.groupby('area').filter(lambda x: x['r_d'].std() > 0 and x['hdi'].std() > 0)

# Calculate correlation for each 'area'
country_correlations = df_clean.groupby('area')[['r_d', 'hdi']].apply(lambda x: x['r_d'].corr(x['hdi']))

# reset index for easier merge
country_correlations = country_correlations.reset_index(name='rd_hdi_correlation')

# merge correlation values back
final_df = pd.merge(df_clean, country_correlations, on='area', how='left')

# Drop duplicates if you only want one row per 'area' and 'year'
# final_df = final_df.drop_duplicates(subset=['area', 'year'])

# round correlations to 2 decimal
final_df['rd_hdi_correlation'] = final_df['rd_hdi_correlation'].round(2)

# keep relevant columns
final_df = final_df[['area', 'year', 'r_d', 'hdi', 'rd_hdi_correlation']]