In [2]:
import pandas as pd
import numpy as np
# import openpyxl

df = pd.read_excel('../data/raw/SYB66.xlsx')
display(df)

,Region,Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul..."
979,722,SIDS,2015,Gross domestic expenditure on R&D: as a percen...,1.1,NaN,"United Nations Educational, Scientific and Cul..."
980,722,SIDS,2015,Researchers per million inhabitants (FTE),812.1,NaN,"United Nations Educational, Scientific and Cul..."
981,722,SIDS,2020,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul..."
982,722,SIDS,2020,Researchers per million inhabitants (FTE),893.2,NaN,"United Nations Educational, Scientific and Cul..."

In [7]:
unique_values = df['Area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

In [8]:
# do teh same with the dataset that Clara found
# https://data.uis.unesco.org/index.aspx?queryid=74

In [ ]:
df2 =