In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('../data/raw/SYB66.xlsx')
df1.head()

,Region,Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul..."

## Extended R&D dataframe

### df1: clean column names, set them to lowercase, display unique values in area column

In [2]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

### df2: clean column names, set them to lowercase, display unique values in area column
source: https://data.uis.unesco.org/index.aspx?queryid=74

In [3]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

In [4]:
df2 = pd.read_csv('../data/raw/SCN_DS_04112024092440372.csv')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
display(df2)

unique_values = df2['country'].unique()
print(unique_values)

,indicator,indicator,location,country,time,time,value,flag_codes,flags
0,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2017,2017,1.87977,NaN,NaN
1,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2019,2019,1.82892,NaN,NaN
2,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2016,2016,3.11655,NaN,NaN
3,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2017,2017,3.05656,NaN,NaN
4,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2018,2018,3.09182,NaN,NaN
...,...,...,...,...,...,...,...,...,...
768,EXPGDP_TOT,GERD as a percentage of GDP,VEN,Venezuela (Bolivarian Republic of),2016,2016,0.69000,NaN,NaN
769,EXPGDP_TOT,GERD as a percentage of GDP,PNG,Papua New Guinea,2016,2016,0.03158,NaN,NaN
770,EXPGDP_TOT,GERD as a percentage of GDP,CIV,Côte d'Ivoire,2016,2016,0.06975,NaN,NaN
771,EXPGDP_TOT,GERD as a percentage of GDP,AGO,Angola,2016,2016,0.03229,NaN,NaN
772,EXPGDP_TOT,GERD as a percentage of GDP,MRT,Mauritania,2018,2018,0.01019,NaN,NaN

['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Republic of Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovakia' 'Spain' 'Sweden' 'Switzerland'
 'Türkiye' 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Argentina' 'Armenia' 'Azerbaijan' 'Belarus'
 'Bermuda' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'China'
 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Egypt' 'El Salvador'
 'Estonia' 'Gambia' 'Georgia' 'Guatemala' 'Honduras'
 'China, Hong Kong Special Administrative Region' 'India'
 'Iran (Islamic Republic of)' 'Israel' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kuwait' 'Latvia' 'Lithuania' 'North Macedonia' 'Madagascar' 'Malaysia'
 'Mali' 'Malta' 'Mauritius' 'Republic of Moldova' 'Mongolia' 'Myanmar'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Romania'
 'Russian Federation' 'Saudi Arabia' 'Seychelles' 'Singapore' 'Slovenia'
 'South Africa' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Trinidad and Tobago'
 'Tunisia' 'Ukraine' 'Uruguay'
 'China, Macao Special Administrative Region' 'Serbia' 'Montenegro'
 'Algeria' 'Bosnia and Herzegovina' 'Chile' 'Ethiopia' 'Indonesia'
 'Kyrgyzstan' 'Nigeria' 'Viet Nam' 'Burundi' 'Iraq' 'Oman'
 'United Arab Emirates' 'Qatar' 'World' 'Central Asia'
 'South and West Asia' 'Latin America and the Caribbean'
 'Central and Eastern Europe' 'East Asia and the Pacific'
 'North America and Western Europe' 'Arab States' 'Sub-Saharan Africa'
 'Uzbekistan' 'Congo' 'Rwanda' 'Northern Africa and Western Asia'
 'Central and Southern Asia' 'Small Island Developing States'
 'Least Developed Countries' 'Eastern and South-Eastern Asia'
 'Lower middle income countries' 'Northern America ' 'Northern Africa'
 'High income countries' 'Eastern Asia' 'Europe and Northern America'
 'Middle income countries' 'Oceania' 'Upper middle income countries'
 'Southern Asia' 'Landlocked Developing Countries'
 'Australia and New Zealand' 'Low income countries' 'South-Eastern Asia'
 'Western Asia' 'Europe' 'Chad' 'Venezuela (Bolivarian Republic of)'
 'Papua New Guinea' "Côte d'Ivoire" 'Angola' 'Mauritania']

### Remove whitespace from all values in both dataframes

In [5]:
def strip_whitespace(df):
    for col in df.select_dtypes(include=['object']):
        if pd.api.types.is_string_dtype(df[col]):
            df[col] = df[col].str.strip()
    return df

# strip whitespace from both DataFrames
df1 = strip_whitespace(df1)
df2 = strip_whitespace(df2)

### Rename unique values in both dataframes

In [6]:
replace_dict_dfs = {
    'Brunei Darussalam': 'Brunei',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Türkiye': 'Turkey'
}

df1['area'] = df1['area'].replace(replace_dict_dfs)
df2['country'] = df2['country'].replace(replace_dict_dfs)

### Rename unique values in df1

In [7]:
replace_dict_df1 = {
    'Bolivia (Plurin. State of)': 'Bolivia',
    'China, Hong Kong SAR': 'Hong Kong',   
    'China, Macao SAR': 'Macao',
    'Côte d’Ivoire': 'Ivory Coast',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Latin America & the Caribbean': 'Latin America and the Caribbean',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    "Lao People's Dem. Rep.": 'Laos',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'SIDS': 'Small Island Developing States',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Total, all countries or areas': 'World',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela'
}

df1['area'] = df1['area'].replace(replace_dict_df1)

### Rename unique values in df2

In [8]:
replace_dict_df2 = {  
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macao',
    "Côte d'Ivoire": 'Ivory Coast',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Venezuela (Bolivarian Republic of)': 'Venezuela'
}

df2['country'] = df2['country'].replace(replace_dict_df2)

### Check and compare unique values

In [9]:
unique_df1 = df1['area'].unique()
unique_df2 = df2['country'].unique()

set_df1 = set(unique_df1)
set_df2 = set(unique_df2)

matches = set_df1.intersection(set_df2)

differences_df1 = set_df1.difference(set_df2)

differences_df2 = set_df2.difference(set_df1)

matches_list = sorted(list(matches))
differences_df1_list = sorted(list(differences_df1))
differences_df2_list = sorted(list(differences_df2))

print("Unique Matches:\n")
print(matches_list)

print("\nUnique values in df1, not in df2:\n")
print(differences_df1_list)

print("\nUnique values in df2, not in df1:\n")
print(differences_df2_list)

Unique Matches:

['Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Australia and New Zealand', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Canada', 'Central Asia', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Eastern Asia', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Europe', 'Finland', 'France', 'Gambia', 'Georgia', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Landlocked Developing Countries', 'Latin America and the Caribbean', 'Latvia', 'Least Developed Countries', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Myanmar', 'Netherlands', 'New Zealand', 'Nigeria', 'North Macedonia', 'Northern Africa', 'Northern America', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Small Island Developing States', 'South Africa', 'South Korea', 'Southern Asia', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Western Asia', 'World']

Unique values in df1, not in df2:

['Albania', 'American Samoa', 'Bahrain', 'Bolivia', 'Botswana', 'Cabo Verde', 'Cambodia', 'Democratic Republic of the Congo', 'Ecuador', 'Eswatini', 'Faroe Islands', 'Gabon', 'Ghana', 'Greenland', 'Guam', 'Laos', 'Lesotho', 'Malawi', 'Monaco', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Palestine', 'Puerto Rico', 'Saint Helena', 'Senegal', 'South-central Asia', 'South-eastern Asia', 'Sudan', 'Syria', 'Tanzania', 'Togo', 'US Virgin Islands', 'Uganda', 'Zambia', 'Zimbabwe']

Unique values in df2, not in df1:

['Arab States', 'Central and Eastern Europe', 'Central and Southern Asia', 'East Asia and the Pacific', 'Eastern and South-Eastern Asia', 'Europe and Northern America', 'High income countries', 'Low income countries', 'Lower middle income countries', 'Middle income countries', 'North America and Western Europe', 'Northern Africa and Western Asia', 'South and West Asia', 'South-Eastern Asia', 'Upper middle income countries']

### Column parsing before concatenation
- drop 'source' and 'footnotes' columns
- rename columns to help merge
- remove duplicates

In [10]:
df1 = df1.drop(columns=['source', 'footnotes'])
df2.rename(columns={'country': 'area'}, inplace=True)
df2.rename(columns={'time': 'year'}, inplace=True)
df2 = df2.loc[:, ~df2.columns.duplicated()]

In [11]:
# print original dfs
print("df1:\n")
display(df1)

print("\ndf2:\n")
display(df2)

# concatenate vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

print("\nmerged dataframe:\n")
display(merged_df)

df1:

,region,area,year,series,value
0,1,World,2005,Gross domestic expenditure on R&D: as a percen...,1.5
1,1,World,2005,Researchers per million inhabitants (FTE),907.2
2,1,World,2010,Gross domestic expenditure on R&D: as a percen...,1.6
3,1,World,2010,Researchers per million inhabitants (FTE),1022.1
4,1,World,2015,Gross domestic expenditure on R&D: as a percen...,1.7
...,...,...,...,...,...
978,722,Small Island Developing States,2010,Researchers per million inhabitants (FTE),722.0
979,722,Small Island Developing States,2015,Gross domestic expenditure on R&D: as a percen...,1.1
980,722,Small Island Developing States,2015,Researchers per million inhabitants (FTE),812.1
981,722,Small Island Developing States,2020,Gross domestic expenditure on R&D: as a percen...,1.0
982,722,Small Island Developing States,2020,Researchers per million inhabitants (FTE),893.2

df2:

      indicator location              area  year    value  flag_codes  flags
0    EXPGDP_TOT      AUS         Australia  2017  1.87977         NaN    NaN
1    EXPGDP_TOT      AUS         Australia  2019  1.82892         NaN    NaN
2    EXPGDP_TOT      AUT           Austria  2016  3.11655         NaN    NaN
3    EXPGDP_TOT      AUT           Austria  2017  3.05656         NaN    NaN
4    EXPGDP_TOT      AUT           Austria  2018  3.09182         NaN    NaN
..          ...      ...               ...   ...      ...         ...    ...
768  EXPGDP_TOT      VEN         Venezuela  2016  0.69000         NaN    NaN
769  EXPGDP_TOT      PNG  Papua New Guinea  2016  0.03158         NaN    NaN
770  EXPGDP_TOT      CIV       Ivory Coast  2016  0.06975         NaN    NaN
771  EXPGDP_TOT      AGO            Angola  2016  0.03229         NaN    NaN
772  EXPGDP_TOT      MRT        Mauritania  2018  0.01019         NaN    NaN

[773 rows x 7 columns]

merged dataframe:

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,Papua New Guinea,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,Ivory Coast,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,Angola,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,Mauritania,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

In [12]:
unique_values = merged_df['area'].unique()
print(unique_values.tolist())

['World', 'Northern Africa', 'Sub-Saharan Africa', 'Northern America', 'Latin America and the Caribbean', 'Central Asia', 'Eastern Asia', 'South-central Asia', 'South-eastern Asia', 'Southern Asia', 'Western Asia', 'Europe', 'Oceania', 'Australia and New Zealand', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Belarus', 'Belgium', 'Bermuda', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Canada', 'Chad', 'Chile', 'China', 'Hong Kong', 'Macao', 'Colombia', 'Congo', 'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of the Congo', 'Denmark', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lesotho', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Palestine', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Tanzania', 'United States of America', 'US Virgin Islands', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Zambia', 'Zimbabwe', 'Landlocked Developing Countries', 'Least Developed Countries', 'Small Island Developing States', 'South and West Asia', 'Central and Eastern Europe', 'East Asia and the Pacific', 'North America and Western Europe', 'Arab States', 'Northern Africa and Western Asia', 'Central and Southern Asia', 'Eastern and South-Eastern Asia', 'Lower middle income countries', 'High income countries', 'Europe and Northern America', 'Middle income countries', 'Upper middle income countries', 'Low income countries', 'South-Eastern Asia']

In [13]:
display(merged_df)

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,Papua New Guinea,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,Ivory Coast,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,Angola,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,Mauritania,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

In [14]:
print(merged_df['region'].unique())

[  1.  15. 202.  21. 419. 143.  30.  62.  35.  34. 145. 150.   9.  53.
   8.  12.  16.  24.  32.  51.  36.  40.  31.  48. 112.  56.  60.  68.
  70.  72.  76.  96. 100. 854. 108. 132. 116. 124. 148. 152. 156. 344.
 446. 170. 178. 188. 384. 191. 192. 196. 203. 180. 208. 218. 818. 222.
 233. 748. 231. 234. 246. 250. 266. 270. 268. 276. 288. 300. 304. 316.
 320. 340. 348. 352. 356. 360. 364. 368. 372. 376. 380. 392. 400. 398.
 404. 414. 417. 418. 428. 426. 440. 442. 450. 454. 458. 466. 470. 478.
 480. 484. 492. 496. 499. 504. 508. 104. 516. 524. 528. 554. 558. 562.
 566. 807. 578. 512. 586. 591. 598. 600. 604. 608. 616. 620. 630. 634.
 410. 498. 642. 643. 646. 654. 682. 686. 688. 690. 702. 703. 705. 710.
 724. 144. 275. 729. 752. 756. 760. 762. 764. 768. 780. 788. 792. 800.
 804. 784. 826. 834. 840. 850. 858. 860. 862. 704. 894. 716. 432. 199.
 722.  nan]

### Clean and format `region`:
- convert to strings
- add the zeros for the sake of standardization
- create `country_code` column
- what to do with empty values?

In [15]:
import math

def process_country_codes(column):
    def process_value(x):
        if isinstance(x, (int, float)) and not math.isnan(x): # convert to string, otherwise return None
            code = str(int(x))            
            if len(code) == 1:
                return '00' + code
            elif len(code) == 2:
                return '0' + code
            else:
                return code
        return None    
    return column.apply(process_value)

merged_df['country_code'] = process_country_codes(merged_df['region'])
print(merged_df[['region', 'country_code']])

      region country_code
0        1.0          001
1        1.0          001
2        1.0          001
3        1.0          001
4        1.0          001
...      ...          ...
1751     NaN         None
1752     NaN         None
1753     NaN         None
1754     NaN         None
1755     NaN         None

[1756 rows x 2 columns]

### Drop dead columns

In [16]:
merged_df = merged_df.drop(['flag_codes', 'flags', 'region', 'indicator'], axis=1)

In [17]:
merged_df.head(100)

,area,year,series,value,location,country_code
0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,001
1,World,2005,Researchers per million inhabitants (FTE),907.2,NaN,001
2,World,2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,001
3,World,2010,Researchers per million inhabitants (FTE),1022.1,NaN,001
4,World,2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,001
...,...,...,...,...,...,...
95,Oceania,2010,Researchers per million inhabitants (FTE),3208.4,NaN,009
96,Oceania,2015,Gross domestic expenditure on R&D: as a percen...,1.8,NaN,009
97,Oceania,2015,Researchers per million inhabitants (FTE),3566.4,NaN,009
98,Oceania,2020,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,009
99,Oceania,2020,Researchers per million inhabitants (FTE),3522.5,NaN,009

In [18]:
print(merged_df['series'].unique())

['Gross domestic expenditure on R&D: as a percentage of GDP'
 'Researchers per million inhabitants (FTE)' nan]

### Employment

To-do's:
- Rename columns
- Drop first row
- Drop last two columns
- Check if the totals in Labor force participation and Unemployment rate are adding up male and female values.
- If so, drop the female + male rows.
- Check empty values.
- Reset index.

In [19]:
import pandas as pd
import numpy as np
import pycountry

employment_df = pd.read_csv('../data/raw/SYB66_329_202310_Labour_unem.csv', encoding='iso-8859-1')
display(employment_df)

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Estimate.,"International Labour Organization (ILO), Genev..."
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Genev..."
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1,Estimate.,"International Labour Organization (ILO), Genev..."
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...,...
5482,97,European Union (EU),2023,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Genev..."
5483,97,European Union (EU),2023,Labour force participation - Male,63.9,Estimate.,"International Labour Organization (ILO), Genev..."
5484,97,European Union (EU),2023,Unemployment rate - Male,6.0,Estimate.,"International Labour Organization (ILO), Genev..."
5485,97,European Union (EU),2023,Labour force participation - Female,51.7,Estimate.,"International Labour Organization (ILO), Genev..."
5486,97,European Union (EU),2023,Unemployment rate - Female,6.7,Estimate.,"International Labour Organization (ILO), Genev..."

print(employment_df.columns)

In [20]:
print(employment_df.columns)

Index(['T17', 'Labour force participation and unemployment', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [21]:
employment_df = employment_df.drop(0, errors='ignore')
employment_df = employment_df.drop(['Unnamed: 5', 'Unnamed: 6'], axis=1)
display(employment_df)
print(employment_df.index)

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.3
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2
5,1,"Total, all countries or areas",2005,Labour force participation - Female,49.8
...,...,...,...,...,...
5482,97,European Union (EU),2023,Unemployment rate - Total,6.3
5483,97,European Union (EU),2023,Labour force participation - Male,63.9
5484,97,European Union (EU),2023,Unemployment rate - Male,6.0
5485,97,European Union (EU),2023,Labour force participation - Female,51.7
5486,97,European Union (EU),2023,Unemployment rate - Female,6.7

RangeIndex(start=1, stop=5487, step=1)

In [22]:
### Rename columns

In [23]:
employment_df = employment_df.rename(columns= {
    'T17': 'country_code',
    'Labour force participation and unemployment': 'participation_area',
    'Unnamed: 2': 'year',
    'Unnamed: 3': 'statistic_type',
    'Unnamed: 4': 'statistic_value',
})

In [24]:
### Remove rows for gender specific statistic (the total equivalent for each year sums it up)

In [25]:
rows_to_drop = ['Labour force participation - Female', 'Labour force participation - Male', 'Unemployment rate - Female', 'Unemployment rate - Male']
employment_df = employment_df[~employment_df['statistic_type'].isin(rows_to_drop)]

### Country codes
- Find unique values
- Use `pycountry` to find the equivalent names
- Add 'area' column with the names
- Identify the ones with 'Unknown' value comparing them with the 'participation_area'
- Create replacement dictionary, implement it

In [26]:
print('\nUnique values in participation_area column:\n')
employment_df['participation_area'].unique()

Unique values in participation_area column:

array(['Total, all countries or areas', 'Africa', 'Northern Africa',
       'Sub-Saharan Africa', 'Eastern Africa', 'Middle Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Latin America & the Caribbean', 'Caribbean',
       'Central America', 'South America', 'Central Asia', 'Eastern Asia',
       'South-eastern Asia', 'Southern Asia', 'Western Asia', 'Caucasus',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Afghanistan', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia (Plurin. State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Côte d\x92Ivoire', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus',
       'Czechia', "Dem. People's Rep. Korea", 'Dem. Rep. of the Congo',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Dem. Rep.", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands (Kingdom of the)', 'Netherlands Antilles [former]',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent & Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Türkiye', 'Turkmenistan', 'Turks and Caicos Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Boliv. Rep. of)', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe', 'European Union (EU)'], dtype=object)

In [27]:
### Parse country codes, check for the area names with `pycountry`, update the dataframe

In [28]:
def transform_country_codes(code):
    if len(code) ==1:
        return '00' + code
    elif len(code) == 2:
        return '0' + code
    return code

def get_country_name(country_code):
    try:
        country = pycountry.countries.get(numeric=country_code) # check for country code
        if not country:
            country = pycountry.countries.get(alpha_2=country_code)
        return country.name if country else 'Unknown'
    except KeyError:
        return 'Unknown'

# implement logic to the actual dataset
employment_df['country_code'] = employment_df['country_code'].apply(transform_country_codes)
employment_df['area'] = employment_df['country_code'].apply(get_country_name)

employment_df.head(100)

,country_code,participation_area,year,statistic_type,statistic_value,area
1,001,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Unknown
2,001,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Unknown
7,001,"Total, all countries or areas",2010,Labour force participation - Total,62.0,Unknown
8,001,"Total, all countries or areas",2010,Unemployment rate - Total,6.3,Unknown
13,001,"Total, all countries or areas",2015,Labour force participation - Total,60.7,Unknown
...,...,...,...,...,...,...
284,029,Caribbean,2023,Unemployment rate - Total,7.8,Unknown
289,013,Central America,2005,Labour force participation - Total,60.7,Unknown
290,013,Central America,2005,Unemployment rate - Total,4.0,Unknown
295,013,Central America,2010,Labour force participation - Total,60.7,Unknown
296,013,Central America,2010,Unemployment rate - Total,5.3,Unknown

In [29]:
### Parse country codes, check for the area names with `pycountry`, update the dataframe

In [30]:
def transform_country_codes(code):
    if len(code) ==1:
        return '00' + code
    elif len(code) == 2:
        return '0' + code
    return code

def get_country_name(country_code):
    try:
        country = pycountry.countries.get(numeric=country_code) # check for country code
        if not country:
            country = pycountry.countries.get(alpha_2=country_code)
        return country.name if country else 'Unknown'
    except KeyError:
        return 'Unknown'

# implement logic to the actual dataset
employment_df['country_code'] = employment_df['country_code'].apply(transform_country_codes)
employment_df['area'] = employment_df['country_code'].apply(get_country_name)

employment_df.head(100)

,country_code,participation_area,year,statistic_type,statistic_value,area
1,001,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Unknown
2,001,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Unknown
7,001,"Total, all countries or areas",2010,Labour force participation - Total,62.0,Unknown
8,001,"Total, all countries or areas",2010,Unemployment rate - Total,6.3,Unknown
13,001,"Total, all countries or areas",2015,Labour force participation - Total,60.7,Unknown
...,...,...,...,...,...,...
284,029,Caribbean,2023,Unemployment rate - Total,7.8,Unknown
289,013,Central America,2005,Labour force participation - Total,60.7,Unknown
290,013,Central America,2005,Unemployment rate - Total,4.0,Unknown
295,013,Central America,2010,Labour force participation - Total,60.7,Unknown
296,013,Central America,2010,Unemployment rate - Total,5.3,Unknown

### Replace 'Unknown' values according to the dictionary

In [31]:
replace_dict = {
    '001': 'World',
    '002': 'Africa',
    '005': 'South America',
    '009': 'Oceania',
    '011': 'Western Africa',
    '013': 'Central America',
    '014': 'Eastern Africa',
    '015': 'Northern Africa',
    '017': 'Middle Africa',
    '018': 'Southern Africa',
    '019': 'Americas',
    '021': 'Northern America',
    '029': 'Caribbean',
    '030': 'Eastern Asia',
    '034': 'Southern Asia',
    '035': 'South-eastern Asia',
    '039': 'Southern Europe',
    '097': 'European Union',
    '134': 'Caucasus',
    '143': 'Central Asia',
    '145': 'Western Asia',
    '151': 'Eastern Europe',
    '154': 'Northern Europe',
    '155': 'Western Europe',
    '202': 'Sub-Saharan Africa',
    '412': 'Kosovo',
    '419': 'Latin America and the Caribbean',
    '530': 'Netherlands Antilles [former]',
    '830': 'Channel Islands'
}

employment_df.loc[:,'area'] = employment_df['country_code'].map(replace_dict).fillna(employment_df['area'])
# display(employment_df)

In [32]:
print('\nUnique values in area column:\n')
print(employment_df['area'].unique())

Unique values in area column:

['World' 'Africa' 'Northern Africa' 'Sub-Saharan Africa' 'Eastern Africa'
 'Middle Africa' 'Southern Africa' 'Western Africa' 'Americas'
 'Northern America' 'Latin America and the Caribbean' 'Caribbean'
 'Central America' 'South America' 'Central Asia' 'Eastern Asia'
 'South-eastern Asia' 'Southern Asia' 'Western Asia' 'Caucasus'
 'Eastern Europe' 'Northern Europe' 'Southern Europe' 'Western Europe'
 'Oceania' 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola'
 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia, Plurinational State of'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Channel Islands' 'Chile' 'China' 'Hong Kong' 'Macao' 'Colombia'
 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia'
 'Cuba' 'Curaçao' 'Cyprus' 'Czechia'
 "Korea, Democratic People's Republic of"
 'Congo, The Democratic Republic of the' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Falkland Islands (Malvinas)'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Guadeloupe' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran, Islamic Republic of' 'Iraq' 'Ireland' 'Isle of Man' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic"
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius'
 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'Netherlands Antilles [former]' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Northern Mariana Islands'
 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Korea, Republic of' 'Moldova, Republic of' 'Réunion' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka'
 'Palestine, State of' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan'
 'Turks and Caicos Islands' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'Tanzania, United Republic of' 'United States'
 'Virgin Islands, U.S.' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela, Bolivarian Republic of' 'Viet Nam' 'Western Sahara' 'Yemen'
 'Zambia' 'Zimbabwe' 'European Union']

### Convert the following values in 'area' for better readability and standardization purposes

In [33]:
replace_dict_area = {
    'Bolivia, Plurinational State of': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'Congo, The Democratic Republic of the': 'Democratic Republic of the Congo', 
    "Côte d'Ivoire": 'Ivory Coast',
    'Falkland Islands (Malvinas)': 'Falkland Islands',
    'Iran (Islamic Republic of)': 'Iran',
    "Korea, Democratic People's Republic of": 'North Korea',
    'Korea, Republic of': 'South Korea',
    "Lao People's Democratic Republic": 'Laos',
    'Moldova, Republic of': 'Moldova',
    'Netherlands Antilles [former]': 'Netherlands Antilles',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Timor-Leste': 'East Timor',
    'Türkiye': 'Turkey',
    'Venezuela, Bolivarian Republic of': 'Venezuela'
}

employment_df['area'] = employment_df['area'].replace(replace_dict_area)

In [34]:
replace_dict_statistic = {
    'Labour force participation - Total': 'Labour force participation',
    'Unemployment rate - Total': 'Unemployment rate'
}

employment_df['statistic_type'] = employment_df['statistic_type'].replace(replace_dict_statistic)

### Last but not least
- Drop 'participation_area' column
- Reorder columns
- Reset index

In [35]:
employment_df = employment_df.drop(['participation_area'], axis=1)

custom_column_order = ['country_code', 'area', 'year', 'statistic_type', 'statistic_value']
employment_df = employment_df[custom_column_order]

employment_df.reset_index(drop=True, inplace=True)
display(employment_df)

,country_code,area,year,statistic_type,statistic_value
0,001,World,2005,Labour force participation,62.9
1,001,World,2005,Unemployment rate,6.3
2,001,World,2010,Labour force participation,62.0
3,001,World,2010,Unemployment rate,6.3
4,001,World,2015,Labour force participation,60.7
...,...,...,...,...,...
1833,097,European Union,2010,Unemployment rate,9.8
1834,097,European Union,2015,Labour force participation,56.8
1835,097,European Union,2015,Unemployment rate,10.0
1836,097,European Union,2023,Labour force participation,57.6
1837,097,European Union,2023,Unemployment rate,6.3

### Export to .csv

In [36]:
merged_df.to_csv('RD_extended_df.csv', index=False)
employment_df.to_csv('employment_df.csv', index=False)