In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('../data/raw/SYB66.xlsx')
display(df1)

,Region,Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul..."
979,722,SIDS,2015,Gross domestic expenditure on R&D: as a percen...,1.1,NaN,"United Nations Educational, Scientific and Cul..."
980,722,SIDS,2015,Researchers per million inhabitants (FTE),812.1,NaN,"United Nations Educational, Scientific and Cul..."
981,722,SIDS,2020,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul..."
982,722,SIDS,2020,Researchers per million inhabitants (FTE),893.2,NaN,"United Nations Educational, Scientific and Cul..."

In [3]:
unique_values = df1['Area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

In [4]:
# do teh same with the dataset that Clara found
# https://data.uis.unesco.org/index.aspx?queryid=74

In [6]:
df2 = pd.read_csv('../data/raw/SCN_DS_04112024092440372.csv')
df2.head(10)

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2017,2017,1.87977,NaN,NaN
1,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2019,2019,1.82892,NaN,NaN
2,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2016,2016,3.11655,NaN,NaN
3,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2017,2017,3.05656,NaN,NaN
4,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2018,2018,3.09182,NaN,NaN
5,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2019,2019,3.13247,NaN,NaN
6,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2020,2020,3.20149,NaN,NaN
7,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2021,2021,3.25632,NaN,NaN
8,EXPGDP_TOT,GERD as a percentage of GDP,BEL,Belgium,2016,2016,2.52338,NaN,NaN
9,EXPGDP_TOT,GERD as a percentage of GDP,BEL,Belgium,2017,2017,2.66666,NaN,NaN

In [9]:
unique_values = df2['Country'].unique()
print(unique_values)

['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Republic of Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovakia' 'Spain' 'Sweden' 'Switzerland'
 'Türkiye' 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Argentina' 'Armenia' 'Azerbaijan' 'Belarus'
 'Bermuda' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'China'
 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Egypt' 'El Salvador'
 'Estonia' 'Gambia' 'Georgia' 'Guatemala' 'Honduras'
 'China, Hong Kong Special Administrative Region' 'India'
 'Iran (Islamic Republic of)' 'Israel' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kuwait' 'Latvia' 'Lithuania' 'North Macedonia' 'Madagascar' 'Malaysia'
 'Mali' 'Malta' 'Mauritius' 'Republic of Moldova' 'Mongolia' 'Myanmar'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Romania'
 'Russian Federation' 'Saudi Arabia' 'Seychelles' 'Singapore' 'Slovenia'
 'South Africa' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Trinidad and Tobago'
 'Tunisia' 'Ukraine' 'Uruguay'
 'China, Macao Special Administrative Region' 'Serbia' 'Montenegro'
 'Algeria' 'Bosnia and Herzegovina' 'Chile' 'Ethiopia' 'Indonesia'
 'Kyrgyzstan' 'Nigeria' 'Viet Nam' 'Burundi' 'Iraq' 'Oman'
 'United Arab Emirates' 'Qatar' 'World' 'Central Asia'
 'South and West Asia' 'Latin America and the Caribbean'
 'Central and Eastern Europe' 'East Asia and the Pacific'
 'North America and Western Europe' 'Arab States' 'Sub-Saharan Africa'
 'Uzbekistan' 'Congo' 'Rwanda' 'Northern Africa and Western Asia'
 'Central and Southern Asia' 'Small Island Developing States'
 'Least Developed Countries' 'Eastern and South-Eastern Asia'
 'Lower middle income countries' 'Northern America ' 'Northern Africa'
 'High income countries' 'Eastern Asia' 'Europe and Northern America'
 'Middle income countries' 'Oceania' 'Upper middle income countries'
 'Southern Asia' 'Landlocked Developing Countries'
 'Australia and New Zealand' 'Low income countries' 'South-Eastern Asia'
 'Western Asia' 'Europe' 'Chad' 'Venezuela (Bolivarian Republic of)'
 'Papua New Guinea' "Côte d'Ivoire" 'Angola' 'Mauritania']

In [13]:
# strip whitespaces
def strip_whitespace(df):
    for col in df.select_dtypes(include=['object']):
        df[] 

# Get unique values from each DataFrame
unique_df1 = df1['Area'].unique()
unique_df2 = df2['Country'].unique()

# Convert to sets for easier comparison
set_df1 = set(unique_df1)
set_df2 = set(unique_df2)

# Convert to sorted lists for better readability
matches_list = sorted(list(matches))
differences_df1_list = sorted(list(differences_df1))
differences_df2_list = sorted(list(differences_df2))

# Results
print("Unique Matches:")
print(matches_list)

print("\nUnique values in df1 not in df2:")
print(differences_df1_list)

print("\nUnique values in df2 not in df1:")
print(differences_df2_list)

Unique Matches:
['Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Australia and New Zealand', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Canada', 'Central Asia', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Eastern Asia', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Europe', 'Finland', 'France', 'Gambia', 'Georgia', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Myanmar', 'New Zealand', 'Nigeria', 'North Macedonia', 'Northern Africa', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Southern Asia', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Ukraine', 'United Arab Emirates', 'United States of America', 'Uruguay', 'Uzbekistan', 'Viet Nam', 'Western Asia']

Unique values in df1 not in df2:
['Albania', 'American Samoa', 'Bahrain', 'Bolivia (Plurin. State of)', 'Botswana', 'Cabo Verde', 'Cambodia', 'China, Hong Kong SAR', 'China, Macao SAR', 'Côte d’Ivoire', 'Dem. Rep. of the Congo', 'Ecuador', 'Eswatini', 'Faroe Islands', 'Gabon', 'Ghana', 'Greenland', 'Guam', 'LDC§', 'LLDCs', "Lao People's Dem. Rep.", 'Latin America & the Caribbean', 'Lesotho', 'Malawi', 'Monaco', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands (Kingdom of the)', 'Nicaragua', 'Niger', 'Northern America', 'Puerto Rico', 'SIDS', 'Saint Helena', 'Senegal', 'South-central Asia', 'South-eastern Asia', 'State of Palestine', 'Sudan', 'Syrian Arab Republic', 'Togo', 'Total, all countries or areas', 'Uganda', 'United Kingdom', 'United Rep. of Tanzania', 'United States Virgin Islands', 'Venezuela (Boliv. Rep. of)', 'Zambia', 'Zimbabwe']

Unique values in df2 not in df1:
['Arab States', 'Central and Eastern Europe', 'Central and Southern Asia', 'China, Hong Kong Special Administrative Region', 'China, Macao Special Administrative Region', "Côte d'Ivoire", 'East Asia and the Pacific', 'Eastern and South-Eastern Asia', 'Europe and Northern America', 'High income countries', 'Landlocked Developing Countries', 'Latin America and the Caribbean', 'Least Developed Countries', 'Low income countries', 'Lower middle income countries', 'Middle income countries', 'Netherlands', 'North America and Western Europe', 'Northern Africa and Western Asia', 'Northern America ', 'Small Island Developing States', 'South and West Asia', 'South-Eastern Asia', 'United Kingdom of Great Britain and Northern Ireland', 'Upper middle income countries', 'Venezuela (Bolivarian Republic of)', 'World']

In [ ]:
# rename unique values in df1

In [ ]:
rename_dict_df1 = {
    'Bob': 'Robert',
    'Charlie': 'Charles',
    'Eve': 'Eva'
}