In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('../data/raw/SYB66.xlsx')

### df1: clean column names, set them to lowercase, display unique values in area column

In [2]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

### df2: clean column names, set them to lowercase, display unique values in area column
source: https://data.uis.unesco.org/index.aspx?queryid=74

In [3]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

In [4]:
df2 = pd.read_csv('../data/raw/SCN_DS_04112024092440372.csv')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
display(df2)

unique_values = df2['country'].unique()
print(unique_values)

,indicator,indicator,location,country,time,time,value,flag_codes,flags
0,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2017,2017,1.87977,NaN,NaN
1,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2019,2019,1.82892,NaN,NaN
2,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2016,2016,3.11655,NaN,NaN
3,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2017,2017,3.05656,NaN,NaN
4,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2018,2018,3.09182,NaN,NaN
...,...,...,...,...,...,...,...,...,...
768,EXPGDP_TOT,GERD as a percentage of GDP,VEN,Venezuela (Bolivarian Republic of),2016,2016,0.69000,NaN,NaN
769,EXPGDP_TOT,GERD as a percentage of GDP,PNG,Papua New Guinea,2016,2016,0.03158,NaN,NaN
770,EXPGDP_TOT,GERD as a percentage of GDP,CIV,Côte d'Ivoire,2016,2016,0.06975,NaN,NaN
771,EXPGDP_TOT,GERD as a percentage of GDP,AGO,Angola,2016,2016,0.03229,NaN,NaN
772,EXPGDP_TOT,GERD as a percentage of GDP,MRT,Mauritania,2018,2018,0.01019,NaN,NaN

['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Republic of Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovakia' 'Spain' 'Sweden' 'Switzerland'
 'Türkiye' 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Argentina' 'Armenia' 'Azerbaijan' 'Belarus'
 'Bermuda' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'China'
 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Egypt' 'El Salvador'
 'Estonia' 'Gambia' 'Georgia' 'Guatemala' 'Honduras'
 'China, Hong Kong Special Administrative Region' 'India'
 'Iran (Islamic Republic of)' 'Israel' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kuwait' 'Latvia' 'Lithuania' 'North Macedonia' 'Madagascar' 'Malaysia'
 'Mali' 'Malta' 'Mauritius' 'Republic of Moldova' 'Mongolia' 'Myanmar'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Romania'
 'Russian Federation' 'Saudi Arabia' 'Seychelles' 'Singapore' 'Slovenia'
 'South Africa' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Trinidad and Tobago'
 'Tunisia' 'Ukraine' 'Uruguay'
 'China, Macao Special Administrative Region' 'Serbia' 'Montenegro'
 'Algeria' 'Bosnia and Herzegovina' 'Chile' 'Ethiopia' 'Indonesia'
 'Kyrgyzstan' 'Nigeria' 'Viet Nam' 'Burundi' 'Iraq' 'Oman'
 'United Arab Emirates' 'Qatar' 'World' 'Central Asia'
 'South and West Asia' 'Latin America and the Caribbean'
 'Central and Eastern Europe' 'East Asia and the Pacific'
 'North America and Western Europe' 'Arab States' 'Sub-Saharan Africa'
 'Uzbekistan' 'Congo' 'Rwanda' 'Northern Africa and Western Asia'
 'Central and Southern Asia' 'Small Island Developing States'
 'Least Developed Countries' 'Eastern and South-Eastern Asia'
 'Lower middle income countries' 'Northern America ' 'Northern Africa'
 'High income countries' 'Eastern Asia' 'Europe and Northern America'
 'Middle income countries' 'Oceania' 'Upper middle income countries'
 'Southern Asia' 'Landlocked Developing Countries'
 'Australia and New Zealand' 'Low income countries' 'South-Eastern Asia'
 'Western Asia' 'Europe' 'Chad' 'Venezuela (Bolivarian Republic of)'
 'Papua New Guinea' "Côte d'Ivoire" 'Angola' 'Mauritania']

### Remove whitespace from all values in both dataframes

In [5]:
def strip_whitespace(df):
    for col in df.select_dtypes(include=['object']):
        if pd.api.types.is_string_dtype(df[col]):
            df[col] = df[col].str.strip()
    return df

# strip whitespace from both DataFrames
df1 = strip_whitespace(df1)
df2 = strip_whitespace(df2)

### Rename unique values in both dataframes

In [6]:
replace_dict_dfs = {
    'Brunei Darussalam': 'Brunei',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Türkiye': 'Turkey'
}

df1['area'] = df1['area'].replace(replace_dict_dfs)
df2['country'] = df2['country'].replace(replace_dict_dfs)

### Rename unique values in df1

In [7]:
replace_dict_df1 = {
    'Bolivia (Plurin. State of)': 'Bolivia',
    'China, Hong Kong SAR': 'Hong Kong',   
    'China, Macao SAR': 'Macao',
    'Côte d’Ivoire': 'Ivory Coast',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Latin America & the Caribbean': 'Latin America and the Caribbean',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    "Lao People's Dem. Rep.": 'Laos',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'SIDS': 'Small Island Developing States',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Total, all countries or areas': 'World',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela'
}

df1['area'] = df1['area'].replace(replace_dict_df1)

### Rename unique values in df2

In [8]:
replace_dict_df2 = {  
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macao',
    "Côte d'Ivoire": 'Ivory Coast',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Venezuela (Bolivarian Republic of)': 'Venezuela'
}

df2['country'] = df2['country'].replace(replace_dict_df2)

### Check and compare unique values

In [9]:
unique_df1 = df1['area'].unique()
unique_df2 = df2['country'].unique()

set_df1 = set(unique_df1)
set_df2 = set(unique_df2)

matches = set_df1.intersection(set_df2)

differences_df1 = set_df1.difference(set_df2)

differences_df2 = set_df2.difference(set_df1)

matches_list = sorted(list(matches))
differences_df1_list = sorted(list(differences_df1))
differences_df2_list = sorted(list(differences_df2))

print("Unique Matches:\n")
print(matches_list)

print("\nUnique values in df1, not in df2:\n")
print(differences_df1_list)

print("\nUnique values in df2, not in df1:\n")
print(differences_df2_list)

Unique Matches:

['Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Australia and New Zealand', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Canada', 'Central Asia', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Eastern Asia', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Europe', 'Finland', 'France', 'Gambia', 'Georgia', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Landlocked Developing Countries', 'Latin America and the Caribbean', 'Latvia', 'Least Developed Countries', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Myanmar', 'Netherlands', 'New Zealand', 'Nigeria', 'North Macedonia', 'Northern Africa', 'Northern America', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Small Island Developing States', 'South Africa', 'South Korea', 'Southern Asia', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Western Asia', 'World']

Unique values in df1, not in df2:

['Albania', 'American Samoa', 'Bahrain', 'Bolivia', 'Botswana', 'Cabo Verde', 'Cambodia', 'Democratic Republic of the Congo', 'Ecuador', 'Eswatini', 'Faroe Islands', 'Gabon', 'Ghana', 'Greenland', 'Guam', 'Laos', 'Lesotho', 'Malawi', 'Monaco', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Palestine', 'Puerto Rico', 'Saint Helena', 'Senegal', 'South-central Asia', 'South-eastern Asia', 'Sudan', 'Syria', 'Tanzania', 'Togo', 'US Virgin Islands', 'Uganda', 'Zambia', 'Zimbabwe']

Unique values in df2, not in df1:

['Arab States', 'Central and Eastern Europe', 'Central and Southern Asia', 'East Asia and the Pacific', 'Eastern and South-Eastern Asia', 'Europe and Northern America', 'High income countries', 'Low income countries', 'Lower middle income countries', 'Middle income countries', 'North America and Western Europe', 'Northern Africa and Western Asia', 'South and West Asia', 'South-Eastern Asia', 'Upper middle income countries']

### Column parsing before merging
- drop 'source' and 'footnotes' columns
- rename columns to help merge
- remove duplicates

In [10]:
df1 = df1.drop(columns=['source', 'footnotes'])
df2.rename(columns={'country': 'area'}, inplace=True)
df2.rename(columns={'time': 'year'}, inplace=True)
df2 = df2.loc[:, ~df2.columns.duplicated()]

In [11]:
# print original dfs
print("df1:\n")
display(df1)

print("\ndf2:\n")
display(df2)

# merge vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

print("\nmerged dataframe:\n")
display(merged_df)

df1:

,region,area,year,series,value
0,1,World,2005,Gross domestic expenditure on R&D: as a percen...,1.5
1,1,World,2005,Researchers per million inhabitants (FTE),907.2
2,1,World,2010,Gross domestic expenditure on R&D: as a percen...,1.6
3,1,World,2010,Researchers per million inhabitants (FTE),1022.1
4,1,World,2015,Gross domestic expenditure on R&D: as a percen...,1.7
...,...,...,...,...,...
978,722,Small Island Developing States,2010,Researchers per million inhabitants (FTE),722.0
979,722,Small Island Developing States,2015,Gross domestic expenditure on R&D: as a percen...,1.1
980,722,Small Island Developing States,2015,Researchers per million inhabitants (FTE),812.1
981,722,Small Island Developing States,2020,Gross domestic expenditure on R&D: as a percen...,1.0
982,722,Small Island Developing States,2020,Researchers per million inhabitants (FTE),893.2

df2:

      indicator location              area  year    value  flag_codes  flags
0    EXPGDP_TOT      AUS         Australia  2017  1.87977         NaN    NaN
1    EXPGDP_TOT      AUS         Australia  2019  1.82892         NaN    NaN
2    EXPGDP_TOT      AUT           Austria  2016  3.11655         NaN    NaN
3    EXPGDP_TOT      AUT           Austria  2017  3.05656         NaN    NaN
4    EXPGDP_TOT      AUT           Austria  2018  3.09182         NaN    NaN
..          ...      ...               ...   ...      ...         ...    ...
768  EXPGDP_TOT      VEN         Venezuela  2016  0.69000         NaN    NaN
769  EXPGDP_TOT      PNG  Papua New Guinea  2016  0.03158         NaN    NaN
770  EXPGDP_TOT      CIV       Ivory Coast  2016  0.06975         NaN    NaN
771  EXPGDP_TOT      AGO            Angola  2016  0.03229         NaN    NaN
772  EXPGDP_TOT      MRT        Mauritania  2018  0.01019         NaN    NaN

[773 rows x 7 columns]

merged dataframe:

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,Papua New Guinea,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,Ivory Coast,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,Angola,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,Mauritania,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

In [12]:
unique_values = merged_df['area'].unique()
print(unique_values.tolist())

['World', 'Northern Africa', 'Sub-Saharan Africa', 'Northern America', 'Latin America and the Caribbean', 'Central Asia', 'Eastern Asia', 'South-central Asia', 'South-eastern Asia', 'Southern Asia', 'Western Asia', 'Europe', 'Oceania', 'Australia and New Zealand', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Belarus', 'Belgium', 'Bermuda', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Canada', 'Chad', 'Chile', 'China', 'Hong Kong', 'Macao', 'Colombia', 'Congo', 'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of the Congo', 'Denmark', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lesotho', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Palestine', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Tanzania', 'United States of America', 'US Virgin Islands', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Zambia', 'Zimbabwe', 'Landlocked Developing Countries', 'Least Developed Countries', 'Small Island Developing States', 'South and West Asia', 'Central and Eastern Europe', 'East Asia and the Pacific', 'North America and Western Europe', 'Arab States', 'Northern Africa and Western Asia', 'Central and Southern Asia', 'Eastern and South-Eastern Asia', 'Lower middle income countries', 'High income countries', 'Europe and Northern America', 'Middle income countries', 'Upper middle income countries', 'Low income countries', 'South-Eastern Asia']

In [20]:
# List of broad regions (countries that are in the same geographical area; not addressing social, political, economic, or cultural closeness)
regions = [
    'Central Asia', 'Eastern Asia', 'Northern Africa', 'Oceania', 'South America', 'Southern Asia', 
    'Sub-Saharan Africa', 'Western Asia', 'South-central Asia', 'Northern America', 'South-Eastern Asia'
]

# List of autonomous regions (cities or islands that are a part of a specific country but for statistical or other purposes are not considered together)
autonomous_regions = ['Macao', 'Hong Kong', 'Greenland', 'US Virgin Islands']

# List of broad regions mixed, or regions based on social-economic factors, etc.
other = [
    'Arab States', 'High income countries', 'Least Developed Countries', 'Landlocked Developing Countries', 
    'Lower middle income countries', 'Middle income countries', 'Small Island Developing States', 
    'Upper middle income countries', 'World', 'East Asia and the Pacific', 'Eastern and South-Eastern Asia', 
    'Central and Southern Asia', 'Landlocked Developing Countries', 'Latin America and the Caribbean',
    'Europe and Northern America', 'Northern Africa and Western Asia', 'South and West Asia'
]

# def classify_area(area):
#     if area in regions:
#         return 'region'
#     elif area in other:
#         return 'other'    
#     elif area in autonomous_regions:
#         return 'autonomous_region'
#     else:
#         return 'country'

# Now, define the split_countries_regions function if necessary
def split_countries_regions(merged_df):
    # Apply classification
    merged_df['area'] = merged_df['area'].apply(classify_area)

    df_regions = merged_df[merged_df['area'] == 'region']
    df_countries = merged_df[merged_df['area'] == 'country']
    df_autonomous_regions = merged_df[merged_df['area'] == 'autonomous_region']
    df_other = merged_df[merged_df['area'] == 'other']

    return df_regions, df_countries, df_autonomous_regions, df_other

# Call the function with merged_df
df_regions, df_countries, df_autonomous_regions, df_other = split_countries_regions(merged_df)

display(df_regions)
display(df_countries)
display(df_autonomous_regions)
display(df_other)

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,country,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,country,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,country,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,country,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,country,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,country,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,country,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,country,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,country,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,country,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []

In [23]:
# Splitting the countries and regions into two different dataframes, as not to mix them
def split_countries_regions(merged_df, area):
    # List of broad regions (countries that are in the same geographical area; not addressing social, political, economic, or cultural closeness)
    regions = [
    'Central Asia', 'Eastern Asia', 'Northern Africa', 'Oceania', 'South America',  
    'Southern Asia', 'Sub-Saharan Africa', 'Western Asia', 'South-central Asia',
    'Northern America', 'South-Eastern Asia'
    ]

    # List of autonomous regions (cities or islands that are a part of a specific country but for statistical or other purposes are not considered together)
    autonomous_regions = ['Macao', 'Hong Kong', ' Greenland', 'US Virgin Islands']
    
    # List of broad regions mixed, or regions based on social-economic factors, etc.
    other = [
    'Arab States', 'High income countries', 'Least Developed Countries', 'Landlocked Developing Countries', 'Lower middle income countries', 
    'Middle income countries', 'Small Island Developing States', 'Upper middle income countries', 'World', 'East Asia and the Pacific',
    'Eastern and South-Eastern Asia', 'Central and Southern Asia', 'Landlocked Developing Countries', 'Latin America and the Caribbean',
    'Europe and Northern America', 'Northern Africa and Western Asia', 'South and West Asia'
    ]

   # def classify_area(area):
   #  if area in regions:
   #      return 'region'
   #  elif area in other:
   #      return 'other'
   #  elif area in autonomous_regions:
   #      return 'autonomous_region'
   #  else:
   #      return 'country'

# Apply classification
merged_df['area'] = merged_df['area'].apply(classify_area)

df_regions = merged_df[merged_df['area'] == 'region']
df_countries = merged_df[merged_df['area'] == 'country']
df_autonomous_regions = merged_df[merged_df['area'] == 'autonomous_region']
df_other = merged_df[merged_df['area'] == 'other']

In [24]:
display(df_regions)
display(df_countries)
display(df_autonomous_regions)
display(df_other)

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,country,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,country,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,country,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,country,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,country,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,country,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,country,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,country,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,country,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,country,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []

Empty DataFrame
Columns: [region, area, year, series, value, indicator, location, flag_codes, flags]
Index: []