In [ ]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('../data/raw/SYB66.xlsx')

### df1: clean column names, set them to lowercase, display unique values in area column

In [ ]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

### df2: clean column names, set them to lowercase, display unique values in area column
source: https://data.uis.unesco.org/index.aspx?queryid=74

In [ ]:
df2 = pd.read_csv('../data/raw/SCN_DS_04112024092440372.csv')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
display(df2)

unique_values = df2['country'].unique()
print(unique_values)

### Remove whitespace from all values in both dataframes

In [ ]:
def strip_whitespace(df):
    for col in df.select_dtypes(include=['object']):
        if pd.api.types.is_string_dtype(df[col]):
            df[col] = df[col].str.strip()
    return df

# Strip whitespace from both DataFrames
df1 = strip_whitespace(df1)
df2 = strip_whitespace(df2)

### Rename unique values in both dataframes

In [ ]:
replace_dict_dfs = {
    'Brunei Darussalam': 'Brunei',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Türkiye': 'Turkey'
}

df1['area'] = df1['area'].replace(replace_dict_dfs)
df2['country'] = df2['country'].replace(replace_dict_dfs)

### Rename unique values in df1

In [ ]:
replace_dict_df1 = {
    'Bolivia (Plurin. State of)': 'Bolivia',
    'China, Hong Kong SAR': 'Hong Kong',   
    'China, Macao SAR': 'Macao',
    'Côte d’Ivoire': 'Ivory Coast',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Latin America & the Caribbean': 'Latin America and the Caribbean',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    "Lao People's Dem. Rep.": 'Laos',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'SIDS': 'Small Island Developing States',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Total, all countries or areas': 'World',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela'
}

df1['area'] = df1['area'].replace(replace_dict_df1)

### Rename unique values in df2

In [ ]:
replace_dict_df2 = {  
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macao',
    "Côte d'Ivoire": 'Ivory Coast',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Venezuela (Bolivarian Republic of)': 'Venezuela'
}

df2['country'] = df2['country'].replace(replace_dict_df2)

### Check and compare unique values

In [ ]:
unique_df1 = df1['area'].unique()
unique_df2 = df2['country'].unique()

set_df1 = set(unique_df1)
set_df2 = set(unique_df2)

matches = set_df1.intersection(set_df2)

differences_df1 = set_df1.difference(set_df2)

differences_df2 = set_df2.difference(set_df1)

matches_list = sorted(list(matches))
differences_df1_list = sorted(list(differences_df1))
differences_df2_list = sorted(list(differences_df2))

print("Unique Matches:\n")
print(matches_list)

print("\nUnique values in df1, not in df2:\n")
print(differences_df1_list)

print("\nUnique values in df2, not in df1:\n")
print(differences_df2_list)

### Column parsing before merging
- drop 'source' and 'footnotes' columns
- rename columns to help merge
- remove duplicates

In [ ]:
df1 = df1.drop(columns=['source', 'footnotes'])
df2.rename(columns={'country': 'area'}, inplace=True)
df2.rename(columns={'time': 'year'}, inplace=True)
df2 = df2.loc[:, ~df2.columns.duplicated()]

In [ ]:
# print original dfs
print("df1:\n")
display(df1)

print("\ndf2:\n")
display(df2)

# merge vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

print("\nmerged dataframe:\n")
display(merged_df)